html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    background: rgb(17, 17, 17);
    padding: 10px;
    max-width: 1700px;
    margin: 0 auto;

}

.head {
    border-bottom: 2px solid rgb(200, 191, 206);
}

.image {
    border: 1px solid rgb(200, 191, 206);
    border-radius: 50%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: beige;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.navigation {
    display: inline-block;
    color: beige;
    margin: 5px 10px 5px 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
    color: beige;
}

.nawigacjadrinki {
    text-align: center;
}

.link:hover {
    background-color: rgb(161, 187, 110);
    padding: 5px;
    color: black;
    border-radius: 5px;

}
.link:active{ 
    background-color: rgb(204, 219, 172);
    padding: 5px;
    color: black;
    border-radius: 5px;
}

.bordernavigation {
    border-bottom: 2px solid rgb(200, 191, 206);
}

.mysongs {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-weight: normal;
    color: aliceblue;
}

.foot {
    background-color: rgb(126, 119, 119);
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 30px;
    text-align: center;
}

.button {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(170, 159, 159);
    border: 2px solid rgb(216, 212, 205);
    padding: 5px;


}

.button:hover {
background-color: yellowgreen;}

.white {
    background: rgb(0, 0, 0);
}